.container {
  display: block;
  margin: 5rem auto;
  max-width: 600px;
  padding: 0 1rem;
}

.container h1 {
  text-align: center;
}

@media screen and (prefers-color-scheme: dark) {
  .container h1 {
    color: white;
  }
}