.searchForm {
  margin: 8vh auto 8vh auto;
  display: block;
  max-width: 800px;
  padding: 0 1rem;
}

.searchInput__text {
  display: block;
  width: 100%;
  font-size: 2.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  border: none;
  background: -webkit-linear-gradient(cyan, midnightblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  caret-color: dodgerblue;
  border-radius: 100px;
  outline: none;
  box-shadow:
    inset 8px 6px 16px 0 rgba(0,0,0, 0.25),
    inset -4px -4px 12px 0 rgba(255, 255, 255, 0.1);
}

@media screen and (prefers-color-scheme: dark) {
  .searchInput__text {
    box-shadow:
      inset 8px 8px 12px 0 rgba(0,0,0, 0.25),
      inset -4px -4px 12px 0 rgba(255, 255, 255, 0.1);

  }
}

.searchInput__number {
  font-size: 2rem;
  padding: 1rem;
  border: none;
  margin-bottom: 1rem;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  background: none;
  /* border: solid 2px rgb(90, 231, 250, 0.6); */
  /* background: linear-gradient(135deg, rgba(0,0,0, 1), rgba(0,0,0, 0.2)) */
  border-radius: 100px;
  box-shadow:
    inset 8px 6px 16px 0 rgba(0,0,0, 0.2),
    inset -4px -4px 12px 0 rgba(255,255,255, 0.1);
}

@media screen and (prefers-color-scheme: dark) {
  .searchInput__number {
    box-shadow:
      inset 8px 8px 12px 0 rgba(0,0,0, 0.25),
      inset -4px -4px 12px 0 rgba(255,255,255, 0.1);
  }
}

.searchLabel {
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}

.searchSubmit {
  display: block;
  margin: 1rem auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: none;
  text-transform: uppercase;
  transition: all 200ms;
  font-size: 1.5rem;
  border: none;
  box-shadow:
    -6px -6px 8px 0 rgba(255, 255, 255, 1),
    8px 8px 12px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, rgba(220,220,220, 1), rgba(255,255,255, 1));
}

@media screen and (prefers-color-scheme: dark) {
  .searchSubmit {
    box-shadow:
      8px 8px 12px 0 rgba(0,0,0, 0.25),
      -6px -6px 8px 0 rgba(255, 255, 255, 0.1);
    background: linear-gradient(135deg, rgba(0,0,0, 1), rgba(255,255,255, 0.1))
  }
}

.searchSubmit:hover {
  background: deepskyblue;
  color: white
}

.perPageContainer {
  margin: 0 auto;
  text-align: center
}

@media screen and (min-width: 600px) {
  .searchForm {
    margin: 12vh auto 20vh auto;
  }
  .searchInput__text {
    margin-bottom: 3rem;
  }
  .searchSubmit {
    margin: 2rem auto;
  }
}

@media screen and (prefers-color-scheme: dark) {
  .searchInput__number {
    color: #ccc;
  }
  .searchLabel {
    color: #ccc
  }
  .searchSubmit {
    color: white
  }
}
