html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  background: #ddd;
  background-image: radial-gradient(rgba(100,100,100, 0.05) 20%, rgba(100,100,100, 0) 0);
  background-size: 10px 10px;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #222;
  }
}

.dump {
  display: block;
  padding: 1rem;
  background: black;
  color: greenyellow;
}