.container {
  display: grid;
  /* width: 100vw; */
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}

.main {
  display: block;
}

.footer {
  text-align: center;
  padding: 1rem;
  border-top: solid 1px #ccc
}

